/* CSS code for login page */

body {
    font-family: Arial, sans-serif;
    background:linear-gradient(0deg,rgba(128, 116, 123, 0.3),rgba(119, 165, 168, 0.3)),url("https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fHRlY2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    padding:40px;
    text-align: center;
    color: #fff;
  }
  
  form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background:linear-gradient(rgb(54, 85, 131),rgb(223, 227, 235));
    
  }

  form:hover{
    transform: translateY(10px);
   
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: rgb(54, 85, 131);
  }
  
  .alert {
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 3px;
  }
  
  .alert-success {
    background-color: #4CAF50;
  }
  
  .alert-error {
    background-color: #f44336;
  }

  @media screen and
    (max-width:1300px){
        body{
            background-color: rgb(4, 172, 149);
        }
    }
  